.header {
    height: 60px;
    background-color: #242526;
    border-bottom: 1px solid rgba(78, 79, 80, 0.2);
    padding: 0 15px;
    display: flex;
}

.header__search {
    /* flex: 0.2; */
    width: 320px !important;
    display: flex;
    align-items: center;
}

.header__Logo{
    height: 40px;
    margin-right: 10px;
}

.header__search form input {
    background-color: #3a3b3c;
    border-radius: 50px;
    height: 40px;
    width: 240px;
    padding: 10px;
    border: 0;
    color: #e4e6eb;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2;
}

.header__search form input:focus {
    outline: none;
}

.header__nav {
    /* flex: 0.6; */
    width: calc(100% - 640px) !important;
    display: flex;
    justify-content: center;
}

.header__navContainer{
    max-width: 580px;
    display: flex;
    margin: 0 auto;
}

.header__options {
    /* flex: 0.2; */
    width: 320px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__optionAvatar {
    height: 36px;
    font-size: 15px;
    color: #e4e6eb;
    font-weight: 500;
    letter-spacing: 1.2;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header__avatar {
    height: 28px !important;
    width: 28px !important;
    margin-right: 5px;
}

.header__optionAvatar:hover {
    border-radius: 50px;
    background-color: #3a3b3c;
    cursor: pointer;
}